$card-background-1: $cyan !default;
$card-background-1-text-color: #fff !default;

.chip {
  display: inline-block;
  padding: 0 10px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  border-radius: 25px;
  background-color: $card-background-1;
  color: $card-background-1-text-color;
}

.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 22px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

.plus {
  padding-left: 10px;
  padding-top:10px;
  display:inline-block;
  width:24px;
  height:24px;
  cursor: pointer;

  background:
    linear-gradient(#fff,#fff),
    linear-gradient(#fff,#fff),
    $card-background-1;
  background-position:center;
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}

.cross {
  padding-left: 10px;
  padding-top:10px;
  display:inline-block;
  width:24px;
  height:24px;
  cursor: pointer;
  transform: rotate(45deg);

  background:
          linear-gradient(#fff,#fff),
          linear-gradient(#fff,#fff),
          $card-background-1;
  background-position:center;
  background-size: 50% 2px,2px 50%; /*thickness = 2px, length = 50% (25px)*/
  background-repeat:no-repeat;
}

.radius {
  border-radius:50%;
}

.plus:hover {
  color: #000;
}